@use "./variables" as vars;

* {
  box-sizing: border-box;
}

:root {
  color: vars.$color-text;
  background: vars.$color-page-bg;
  font-family: vars.$font-family-base;
}

body {
  margin: 0;
  color: vars.$color-text;
  background: vars.$color-page-bg;
  font-family: vars.$font-family-base;
}
